<%
	loader_helper = Object.new.extend(LoaderHelper)
	project_custom_fields = ProjectCustomField.order('name')
	cfProjRevision = loader_helper.getCfListArr(project_custom_fields, ['string'], false)
	
	issue_custom_fields = IssueCustomField.order('name')
	cfIssueString = loader_helper.getCfListArr(issue_custom_fields, ['string'], true)
	cfIssueDate = loader_helper.getCfListArr(issue_custom_fields, ['date'], true)
	cfIssueNumber = loader_helper.getCfListArr(issue_custom_fields, ['float','int'], true)
%>
  <%= loader_setting_checkbox('import', 'ignore_fields', 'attach_imported_files') %>
  <p style="padding-left: 190px;">
		<label><%= l(:label_project_revision) %> </label>
		<%=h select_tag('settings[loader_project_cf]', options_for_select(cfProjRevision, :selected =>  @settings['loader_project_cf'])) %>
  </p>
<%= content_tag :fieldset, class: 'box' do %>
  <%= content_tag :legend, t('.custom_mapping') %>
    <%= content_tag :fieldset, class: 'box' do %>
      <%= content_tag :legend, t('.Text Fields') %>	
		<table align='center'>
			<tr align='center'> 
				<th><%=h l(:label_project_libre_field) %></th>
				<th><%=h l(:label_redmine_custom_field) %></th>
			</tr>
		  <% for i in 1..4 %>
			  <tr align='center'> 
					<td><%=h select_tag("settings[loader_extended_text#{i}]", options_for_select(loader_helper.getExtentedAttr('Text', [14, 15, 16]), :selected =>  @settings["loader_extended_text#{i}"])) %></td>
					<td><%=h select_tag("settings[loader_cf_text#{i}]", options_for_select(cfIssueString, :selected =>  @settings["loader_cf_text#{i}"])) %></td>
				</tr> 
		  <% end %>
		</table>
	<% end %>
	<%= content_tag :fieldset, class: 'box' do %>
      <%= content_tag :legend, t('.Number Fields') %>
	    <table align='center'>
			<tr align='center'> 
				<th><%=h l(:label_project_libre_field) %></th>
				<th><%=h l(:label_redmine_custom_field) %></th>
			</tr>
		  <% for i in 1..3 %>
			  <tr align='center'>
					<td><%=h select_tag("settings[loader_extended_number#{i}]", options_for_select(loader_helper.getExtentedAttr('Number'),
					:selected =>  @settings["loader_extended_number#{i}"])) %></td>
					<td><%=h select_tag("settings[loader_cf_number#{i}]", options_for_select(cfIssueNumber, :selected =>  @settings["loader_cf_number#{i}"])) %></td>
			  </tr>
		  <% end %>
		</table>
	<% end %>
	<%= content_tag :fieldset, class: 'box' do %>
	  <%= content_tag :legend, t('.Date Fields') %>
	     <table align='center'>
			<tr align='center'> 
				<th><%=h l(:label_project_libre_field) %></th>
				<th><%=h l(:label_redmine_custom_field) %></th>
			</tr>
		  <% for i in 1..3 %>
			<tr align='center'>
					<td><%=h select_tag("settings[loader_extended_date#{i}]", options_for_select(loader_helper.getExtentedAttr('Date'), :selected =>  @settings["loader_extended_date#{i}"])) %></td>
					<td><%=h select_tag("settings[loader_cf_date#{i}]", options_for_select(cfIssueDate, :selected =>  @settings["loader_cf_date#{i}"])) %></td>
			</tr>
		  <% end %>
		</table>
	<% end %>	  
<% end %>
<%= content_tag :p do %>
  <%= content_tag :label, t('.redmine_status_alias') %>
  <%= text_field_tag 'settings[redmine_status_alias]', @settings['redmine_status_alias'] %>
<% end %>
<%= content_tag :p do %>
  <%= content_tag :label, t('.redmine_id_alias') %>
  <%= text_field_tag 'settings[redmine_id_alias]', @settings['redmine_id_alias'] %>
<% end %>
<%= content_tag :p do %>
  <%= content_tag :label, t('.tracker_alias') %>
  <%= text_field_tag 'settings[tracker_alias]', @settings['tracker_alias'] %>
<% end %>
<%= content_tag :fieldset, class: 'box' do %>
  <%= content_tag :legend, t('.import_settings') %>
  <%= loader_setting_checkbox('import', 'is_private_by_default') %>
  <%= loader_setting_checkbox('import', 'sync_versions') %>
  <%= content_tag :p do %>
    <%= content_tag :label, t('.instant_import_tasks') %>
    <%= number_field_tag 'settings[import][instant_import_tasks]', @settings['import'].blank? ? nil : @settings['import']['instant_import_tasks'], step: 5 %>
  <% end %>
  <%= content_tag :p do %>
    <%= content_tag :label, t('.default_tracker') %>
    <%= select_tag "settings[import][tracker_id]", options_from_collection_for_select(Tracker.all, :id, :name, selected: @settings['import'].blank? ? nil : @settings['import']['tracker_id']) %>
  <% end %>
  <%= content_tag :fieldset, class: 'box' do %>
    <%= content_tag :legend, t('.ignore_fields') %>
    <%= loader_setting_checkbox('import', 'ignore_fields', 'estimated_hours') %>
    <%= loader_setting_checkbox('import', 'ignore_fields', 'spent_hours') %>
    <%= loader_setting_checkbox('import', 'ignore_fields', 'priority') %>
    <%= loader_setting_checkbox('import', 'ignore_fields', 'description') %>
    <%= loader_setting_checkbox('import', 'ignore_fields', 'done_ratio') %>
  <% end %>
<% end %>
<%= content_tag :fieldset, class: 'box' do %>
  <%= content_tag :legend, t('.export_settings') %>
  <%= loader_setting_checkbox('export', 'sync_versions') %>
  <%= content_tag :fieldset, class: 'box' do %>
    <%= content_tag :legend, t('.ignore_fields') %>
    <%= loader_setting_checkbox('export', 'ignore_fields', 'estimated_hours') %>
    <%= loader_setting_checkbox('export', 'ignore_fields', 'spent_hours') %>
    <%= loader_setting_checkbox('export', 'ignore_fields', 'priority') %>
    <%= loader_setting_checkbox('export', 'ignore_fields', 'description') %>
    <%= loader_setting_checkbox('export', 'ignore_fields', 'done_ratio') %>
  <% end %>
<% end %>
